@model ProductVM

<!-- Food Details Modal (Product) -->
<div class="modal food-details-modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Food Details</h5>
            </div>
            <div id="modal-body" class="modal-body">
                <div id="foodCard"></div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div>
    <h1>Products Search</h1>
    <form>
        <div class="form-floating py-2 col-12">
            <input id="searchQuery" class="form-control form-control-lg" type="text" placeholder="ex: Chao Cheese">
            <label asp-for="QueryString" class="ms-2"></label>
        </div>

        <div class="d-flex product-search-controls p-1">
            <button id="searchButton" class="btn btn-primary" type="button">Search USDA</button>
            <div id="product-search-divider">- OR -</div>
            <button id="captureUPCButton" asp-area="Guest" asp-controller="Product" asp-action="GetUPC" class="btn btn-dark mx-2 camera-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Take picture of barcode">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z" />
                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                </svg>
            </button>

        </div>
        <div id="upcDisplay"></div>
    </form>

    @* Activate Camera *@
    @* https://developer.mozilla.org/en-US/docs/Web/API/Media_Capture_and_Streams_API/Taking_still_photos#using_specific_devices *@
    @* Activate back camera: *@
    @* https://webrtc.github.io/samples/src/content/devices/input-output/ *@

    @* From https://stackoverflow.com/questions/55813485/how-to-read-a-qr-code-directly-from-a-mobile-camera-using-zxing-asp-net-webform *@
    @* the cameras where displaying a blank screen when I'd try and run the website on my mobile, that turned out to be since the
    website didn't have the SSL ceritificate verified meaning that the site was still a HTTP rather than a HTTPS which for some
    reason allows the mobile from accessing the camera feature.
    (https://www.pluralsight.com/guides/visual-studio-2017-resolving-ssl-tls-connections-problems-with-iis-express) *@


    <div id="cameraViewContainer">
        <div class="camera">
            <video id="video">Video stream not available.</video>
        </div>
        <canvas id="canvas" hidden> </canvas>
        <div asp-for="theCanvas" class="output">
            <img id="photo" name="photo" alt="The screen capture will appear in this box." />
        </div>
    </div>



    <div id="productView">
    </div>

    <br />
    <br />

</div>


@section Scripts {
    @{
        <script>
            var foodList = @Json.Serialize(Model.FoodVM.FoodList);
            var fodMapList = @Json.Serialize(Model.FodmapList);
        </script>
        <script src="~/js/pagination.js"></script>
        <script src="~/js/addFood.js"></script>
        <script src="~/js/fodmap.js"></script>
        <script src="~/js/product.js"></script>
        <script src="~/js/imageCapture.js"></script>
    }
}
