@model ProductVM

<!-- Food Details Modal (Product) -->
<div class="modal food-details-modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Food Details</h5>
            </div>
            <div id="modal-body" class="modal-body">
                <div id="foodCard"></div>
               @*  <partial name="_AddFoodPartial" /> *@

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div>
    <h1>Products Search</h1>
    <form >
        <div class="form-floating py-2 col-12">
            <input id="searchQuery" class="form-control form-control-lg" type="text" placeholder="ex: Chao Cheese">
            <label asp-for="QueryString" class="ms-2"></label>
        </div>
        <button id="searchButton" class="btn btn-primary" type="button">Search USDA</button>
    </form>

        <div id="productView">

        </div>
</div>


@section Scripts {
    @{
        <script>
            var foodList = @Json.Serialize(Model.FoodVM.FoodList);
            var fodMapList = @Json.Serialize(Model.FodmapList);
        </script>
        <script src="~/js/addFood.js"></script>
        <script src="~/js/fodmap.js"></script>
        <script src="~/js/product.js"></script>
    }
}
