.test {
  margin-left: 15px;
}

.reactionLabel {
  font-size: 1.1em;
}

.reactionLabelContainer {
  display: flex;
  align-items: end;
}

.saveMessage {
  font-style: italic;
  margin-left: 4px;
  color: gray;
  font-size: 0.9em;
  padding-bottom: 1px;
}
