@model ReactionVM

<div>
    <div>
        Filter Bar [TODO]

    </div>

    @foreach (var food in Model.Foods)
    {
        <partial name="../Food/_FoodChipPartial.cshtml" model="food" />
    }

    <br />
    <br />

    <div id="reactionView">
        @if (Model.ActiveFood != null)
        {
            <partial name="_ReactionPartial" />
        }
    </div>

</div>

@section Scripts {
    @{
        <script src="~/js/reaction.js"></script>
    }
}