@model ReactionVM

<div>
    <div>
        Filter Bar [TODO]

    </div>

    @foreach (var food in Model.Foods)
    {
         <partial name="../Food/_FoodChipPartial.cshtml" model="food" />
    }
   
    <br />
    <br />
@*     <div>
        <a value="(food.Id)" class="badge food-chipT1 foodChipTOne">Test One</a>

        <a value="(food.Id)" class="badge food-chipT2 foodChipTTwo position-relative">
            Test Two
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipGreenSolid chip-badge"
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="FODMAP: Green">
                <span class="chip-badge-label">F</span>
            </span>
            </a>

        <a value="(food.Id)" class="badge food-chipT3 foodChipTThree position-relative">
            Test Threea
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipYellowSolid border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>

        </a>
        <a value="(food.Id)" class="badge food-chipT4 foodChipTFour position-relative">
            Test Four  
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipRedSolid border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>
        </a>


    </div> *@
@*     <div>
        <a value="(food.Id)" class="badge food-chipT1 food-chip foodChipTOne">Test Onea</a>
        <a value="(food.Id)" class="badge food-chipT2 position-relative ">
            Test Two
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipGreenSolid border border-light rounded-circle chip-dot">
                <span class="visually-hidden">New alerts</span>
            </span>
        </a>
        <a value="(food.Id)" class="badge food-chipT3 foodChipTThree position-relative">
            Test Threea
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipYellowSolid border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>

        </a>
        <a value="(food.Id)" class="badge food-chipT4 foodChipTFour position-relative">
            Test Four
            <span class="position-absolute top-0 start-100 translate-middle p-2 foodChipRedSolid border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>
        </a>
    </div> *@



    <div id="reactionView">
        @if (Model.ActiveFood != null)
        {
            <partial name="_ReactionPartial" />
        }
    </div>

</div>

@section Scripts {
    @{
        <script src="~/js/reaction.js"></script>
    }
}