@model ReactionVM

<div>
    <div>
        Filter Bar [TODO]

    </div>

    @foreach (var food in Model.Foods)
    {
        <a value="@(food.Id)" class="badge food-chip foodChip@(food.Fodmap?.Color.Name)">@food.Name</a>
    }

    <div id="pView">
        @if (Model.ActiveFood != null)
        {
            <partial name="_ReactionPartial" />
        }
    </div>

</div>

@section Scripts {
    @{
        <script src="~/js/reaction.js"></script>
    }
}