{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./dist"],
        "alias": {
          "@root": "./dist",
          "@configs": "./dist/configs",
          "@connections": "./dist/connections",
          "@controllers": "./dist/controllers",
          "@libs": "./dist/libs",
          "@models": "./dist/models",
          "@routes": "./dist/routes",
          "@repository": "./dist/repository",
          "@services": "./dist/services",
          "@types": "./dist/types",
          "@utils": "./dist/utils"
        }
      }
    ]
  ]
}
