.formInner {
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnOne {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-right: 16px;
}
.columnTwo {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 310px;
  padding-left: 16px;
}

.submitContainer {
  /* background-color: red; */
  display: flex;
  justify-content: end;
}
