@model FoodVM

<div>
    @if (Model != null)
    {
        <div id="fodMapCardHolder">
            <partial name="_FodmapCardPartial" />
        </div>
    }
    else
    {
        <div>Fodmap Card not available...</div>
    }

    <div class="form-floating py-2 col-12">
        <select id="fodmapInput" class="form-select food-input" onchange="updateFodmapCard(this)" asp-for="Food.FodmapId">
            <option value="" selected>--Select Fodmap--</option>
            @foreach (var fodItem in Model.FodmapList)
            {
                <option value="@fodItem.Id">@fodItem.Name</option>
            }
        </select>
    </div>

</div>

<script>
    var fodMapList = @Json.Serialize(Model.FodmapList);
</script>
<script src="~/js/fodmap.js"></script>
