@model FoodVM

<!-- Delete Confirmation Modal (Food) -->
<div id="dvModal" class="modal delete-food-modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div>
    Search Bar [       ]
    @foreach (var food in Model.FoodList)
    {
        <partial name="_FoodChipPartial" model="food" />
    }

    <div class="card-body p-4 col-7">
        <div id="foodMainView">
            <partial name="_AddFoodPartial" />
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script>
            var foodList = @Json.Serialize(Model.FoodList);
            var fodMapList = @Json.Serialize(Model.FodmapList);
        </script>
        <script src="~/js/addFood.js"></script>
        <script src="~/js/fodmap.js"></script>
        <script src="~/js/food.js"></script>
    }
}