:root {
    --lt-blue: rgb(212, 231, 248);
    --blugray: rgb(168, 183, 196);
    --lt-brown: rgb(235, 234, 234);
    --dk-text: rgb(48, 48, 48);
    --hl-text: rgb(1, 251, 180);
    /* Updated color family */
    --nav-dark: #1d1d24;
    --bg-dark: #524442;
    --bg-med: #db95b4;
    --bg-lght: #f9c0b4;
    --bg-white: #fdf3ed;
    --bg-white-card: #fffbf8;
    /* Updated color family */
    /* --nav-dark: #2b2e38; */
    /* --bg-dark: #424552; */
    /* --bg-med: #db95b4; */
    /* --bg-lght: #f9c0b4; */
    /* --bg-white: #fdf3ed; */
    /* --bg-white-card: #fffbf8; */
    /* Container variables */
    --container-max-width: 1200px;
    --container-padding: 20px;
    --clr-fm-green: rgba(13, 211, 40, 0.663);
    --clr-fm-yellow: rgba(228, 228, 18, 0.4);
    --clr-fm-red: rgba(180, 4, 4, 0.23);
    --clr-fm-blue: rgba(99, 129, 216, 0.382);
    
    --clr-fm-green-dk: rgb(17, 117, 30);
    --clr-fm-yellow-dk: rgb(156, 156, 13);
    --clr-fm-red-dk: rgb(180, 4, 4);
    --clr-fm-blue-dk: #4696eb;
    --clr-fd-green: rgba(13, 211, 40, 0.663);
    --clr-fd-yellow: rgba(228, 228, 18, 0.4);
    --clr-fd-red: rgba(180, 4, 4, 0.23);
    --clr-fd-blue: #94c4f8;
    --clr-fd-green-dk: rgb(17, 117, 30);
    --clr-fd-yellow-dk: rgb(156, 156, 13);
    --clr-fd-red-dk: rgb(180, 4, 4);
    --clr-fd-blue-dk: #4696eb;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.hiddenButton {
    display: none;
}

.hidden {
    display: none;
}

.strikeThrough {
    text-decoration: line-through;
}

.dark {
    color: var(--nav-dark);
    fill: var(--nav-dark);
}




.check-drop-option{
    /*background-color: red;*/
    padding-left: 26px;

}




/* Food Area */
.food-chip {
    text-decoration: none;
    /*color: green;*/
    color: #2f2a2a;
    /*background-color: green;*/
    background-color: white;
    border: solid 1px green;
    border: solid 1px #2f2a2a;
    transition: 0.3s;
    cursor: pointer;
    margin: 2px;
}

.foodChip,
.foodChipGreen,
.foodChipYellow,
.foodChipRed {
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid 1px var(--clr-fm-blue-dk);
    transition: 0.3s;
}

.foodChip:hover {
    background-color: var(--clr-fm-blue-dk);
    color: white;
    cursor: pointer;
}

.foodChipGreen {
    text-decoration: none;
    color: var(--clr-fm-green-dk);
    border-color: var(--clr-fm-green-dk);
    transition: 0.3s;
}

.foodChipGreen:hover {
    background-color: var(--clr-fm-green-dk);
    color: white;
    cursor: pointer;
}

.foodChipYellow {
    text-decoration: none;
    color: var(--clr-fm-yellow-dk);
    border-color: var(--clr-fm-yellow-dk);
    transition: 0.3s;
}

.foodChipYellow:hover {
    background-color: var(--clr-fm-yellow-dk);
    color: white;
    cursor: pointer;
}

.foodChipRed {
    text-decoration: none;
    color: var(--clr-fm-red-dk);
    border-color: var(--clr-fm-red-dk);
    transition: 0.3s;
}

.foodChipRed:hover {
    background-color: var(--clr-fm-red-dk);
    color: white;
    cursor: pointer;
}

.selectedFoodChip {
    background-color: green;
    color: white;
}

.chip-badge,
.chip-badge-large {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    z-index: 1;
}

.chip-badge {
    height: 14px;
    width: 14px;
}

.chip-badge-large {
    min-height: 36px;
    max-height: 36px;
    min-width: 36px;
    max-width: 36px;
}

.chip-badge-label,
.chip-badge-label-large {
    color: white;
    align-content: center;
}

.chip-badge-label {
    font-size: .8em;
}

.chip-badge-label-large {
    font-size: 1.5em;
}


/* FODMAP */

.fodSelectContainer,
.fodCard {
    width: 275px;
}

.fodFlag {
    position: absolute;
    translate: 175px;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fodBlue {
    background: var(--clr-fm-blue);
}

.fodGreen {
    background: var(--clr-fm-green);
}

.fodYellow {
    background: var(--clr-fm-yellow);
}

.fodRed {
    background: var(--clr-fm-red);
}

.fodSafeContainer {
    /*background-color: red;*/
    /*    display: flex;
     flex-direction: column;
     align-content: space-between;*/
}

.fodCheckUnknown {
    /*background-color: orange;*/
    /*  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

.fodSafeCheckContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
    height: 90px;
}

.fodCheckUnknown,
.fodSafeCheck {
    /* font-size: larger; */
    color: rgb(92, 92, 92);
    fill: rgb(92, 92, 92);
}

/*.fodTitle {
    font-size: 13px;
}*/

.fodAliasLabel {
    font-size: 0.95em;
    /* font-weight:600; */
    color: rgb(92, 92, 92);
}

.fodAlias {
    font-style: italic;
    font-size: 0.8em;
    color: rgb(92, 92, 92);
}

.fodColorCircle {
    /* position: absolute; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.activeReactant,
.inactiveReactant {
    display: flex;
    align-items: center;
    /*    height: 24px;
    width: 24px;*/
}

.activeReactant {
    color: red; /* needed for text */
    fill: red; /* needed for svg */
}

.notPresent,
.inactiveReactant {
    /* color: rgb(103, 103, 103); */
    color: rgb(159, 159, 174);
    fill: rgb(159, 159, 174);
}

.fodElements {
    /*background-color: purple;*/
    /*width: fit-content;*/
}

.fodMaxIntakeContainer {
    border-radius: 50%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* width: 175px; */
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* margin-right: 12px; */
    /* font-size: 3em; */
}

.fodMaxIntake {
    font-size: 3em;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    margin-bottom: -10px;
    /* background-color: blue; */
    height: 90px;
}


/* Product Area */

.product-card {
    width: 400px;
}

.product-ingredient-divider {
    font-weight: bold;
    /*font-size: 2em;*/
}


.food-chipT1,
.food-chipT2,
.food-chipT3,
.food-chipT4 {
    text-decoration: none;
    color: green;
    background-color: green;
    background-color: white;
    border: solid 1px green;
    transition: 0.3s;
}


.foodChipTOne,
.foodChipTTwo,
.foodChipTThree,
.foodChipTFour {
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid 1px var(--clr-fm-blue-dk);
    transition: 0.3s;
}

.foodChipTOne:hover,
.foodChipTThree:hover,
.foodChipTFour:hover {
    background-color: var(--clr-fm-blue-dk);
    color: white;
    cursor: pointer;
}

.foodChipGreenSolid,
.foodChipYellowSolid,
.foodChipRedSolid,
.foodChipBlueSolid {
    text-decoration: none;
    user-select: none;
}

.foodChipGreenSolid {
    color: var(--clr-fm-green-dk);
    border-color: var(--clr-fm-green-dk);
    background-color: var(--clr-fm-green-dk);
}

.foodChipYellowSolid {
    color: var(--clr-fm-yellow-dk);
    border-color: var(--clr-fm-yellow-dk);
    background-color: var(--clr-fm-yellow-dk);
}


.foodChipRedSolid {
    color: var(--clr-fm-red-dk);
    border-color: var(--clr-fm-red-dk);
    background-color: var(--clr-fm-red-dk);
}

.foodChipBlueSolid {
    color: var(--clr-fm-blue-dk);
    border-color: var(--clr-fm-blue-dk);
    background-color: var(--clr-fm-blue-dk);
}

/*Default Hidden*/
.chip-dot {
    visibility: hidden;
}


.tags-input {
/*    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px #00000033;*/
    /*width: 50%;*/
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    /*background-color: #f2f2f2;*/
    /*background-color:aquamarine;*/
    /*color: white;*/
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.alias-item {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: #28a745;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.alias-item-new {
    background-color: gainsboro;
}

.alias-delete {
    /*background-color: black;*/
    /*opacity: 20%;*/
    /* #268c3d */
    background-color: black;
}

.tags-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.tags-input input[type="text"]:focus {
    outline: none;
}

.tags-input .alias-delete {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}


/* Calendar */


.calendar-nav {
    width: 10px;
    height: 10px;
    all: unset;
}

.calendar-nav-icon,
.calendar-nav-icon-disabled {
    width: 100px;
    height: 50px;
    color: var(--nav-dark);
}

.calendar-nav-icon-disabled {
    color: lightgray;
}

.day-card {
    /*min-height: 220px;
    max-height: 220px;
*/
}

.active-calendar-day {
    /*background-color: red;*/
    /*border: solid 2px var(--clr-fm-blue-dk);*/
    /*box-shadow: 10px 10px 10px 10px lightblue;*/
    /*box-shadow: 10px 10px lightblue;*/
    border-color: mediumpurple !important;
    box-shadow: 0 0 0 5px #ccc;
    box-shadow: 0 0 0 3px mediumpurple;
}

.calendar-reaction-container {
    background-color: aliceblue;
    /*max-height: 26px;*/
    /*min-height: 26px;*/
    min-height: 32px;
    max-height: 32px;
    /*height: auto;*/
    height: fit-content;
}

.calendar-meal-container {
    /*background-color: purple;*/
    /*height: 100vh;*/
    min-height: 120px;
    max-height: 100vh;
}

#reactionDropdownSelect {
    cursor: default;
}

.day-card-footer {
    max-height: 42px;
    min-height: 42px;
    /*background-color: red;*/
}

.calendar-day-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /*background-color: red;*/
    background-color: var(--clr-fm-blue-dk);
    color: white;
}

.calendar-badges {

}

.calendar-badge-icon {
    color: var(--bg-med);
}

.calendar-badge {
    width: 24px;
    height: 24px;
    /*padding-top: 3px;*/
    margin-left: 3px;
    margin-right: 3px;
}
.calendar-item,
.calendar-item-green,
.calendar-item-yellow,
.calendar-item-red,
.calendar-item-blue{
    /*background-color: purple;*/
    color: white;
    font-size: .75em;
    margin: 2px;
    padding-left: 6px;
    border-radius: 4px;
}

.calendar-item-green {
    color: var(--clr-fd-green-dk);
    /*color: white;*/
    border: solid 1px  var(--clr-fd-green-dk);
    background-color: var(--clr-fd-green);
    /*background-color: var(--clr-fd-green-dk);*/
}
.calendar-item-yellow {
    color: var(--clr-fd-yellow-dk);
    border: solid 1px var(--clr-fd-yellow-dk);
    background-color: var(--clr-fd-yellow);
    /*background-color: var(--clr-fd-yellow-dk);*/
}
.calendar-item-red {
    color: var(--clr-fd-red-dk);
    border: solid 1px var(--clr-fd-red-dk);
    background-color: var(--clr-fd-red);
    /*background-color: var(--clr-fd-red-dk);*/
}
.calendar-item-blue {
    color: var(--clr-fd-blue-dk);
    border: solid 1px var(--clr-fd-blue-dk);
    background-color: var(--clr-fd-blue);
    /*background-color: var(--clr-fd-blue-dk);*/
}

#reactionDropdown {
    max-height: 200px;
    width: 250px;
    overflow-y: scroll;
}

.input-group-left {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Day Reaction */

.calendar-modal {
    height: 500px;
}

.green {
    color: var(--clr-fd-green-dk);
    stroke: var(--clr-fd-green-dk);
    /*background-color: var(--clr-fd-green-dk);*/
    /*border-color: var(--clr-fd-green-dk);*/
}

.bg-green {
    /*color: var(--clr-fd-green-dk);*/
    background-color: var(--clr-fd-green-dk);
    /*border-color: var(--clr-fd-green-dk);*/
}

.yellow {
    color: var(--clr-fd-yellow-dk);
    stroke: var(--clr-fd-yellow-dk);
    /*border-color: var(--clr-fd-yellow-dk);*/
}

.bg-yellow {
    /*color: var(--clr-fd-yellow-dk);*/
    background-color: var(--clr-fd-yellow-dk);
    /*border-color: var(--clr-fd-yellow-dk);*/
}

.red {
    color: var(--clr-fd-red-dk);
    stroke: var(--clr-fd-red-dk);
    /*border-color: var(--clr-fd-red-dk);*/
}

.bg-red {
    /*color: var(--clr-fd-red-dk);*/
    background-color: var(--clr-fd-red-dk);
    /*border-color: var(--clr-fd-red-dk);*/
}

.gray {
    color: var(--blugray);
    stroke: var(--blugray);
    /*border-color: var(--clr-fd-red-dk);*/
}

.bg-gray {
    /*color: var(--clr-fd-red-dk);*/
    background-color: var(--blugray);
    /*border-color: var(--clr-fd-red-dk);*/
}