:root {
    --clr-primary-dark: #486581 !important;
    --clr-primary-dark-hover: #2e4760 !important;
    --lt-blue: rgb(212, 231, 248);
    --blugray: rgb(168, 183, 196);
    --lt-brown: rgb(235, 234, 234);
    --dk-text: rgb(48, 48, 48);
    --hl-text: rgb(1, 251, 180);
    --clr-disabled: #c8cbce;
    /* Updated color family */
    /*--nav-dark: #1d1d24;*/
    --nav-dark: #1d1d24;
    --nav-dark-disabled: #1d1d24;
    --bg-dark: #524442;
    --bg-med: #db95b4;
    --bg-lght: #f9c0b4;
    --bg-white: #fdf3ed;
    --bg-white-card: #fffbf8;
    /* Updated color family */
    /* --nav-dark: #2b2e38; */
    /* --bg-dark: #424552; */
    /* --bg-med: #db95b4; */
    /* --bg-lght: #f9c0b4; */
    /* --bg-white: #fdf3ed; */
    /* --bg-white-card: #fffbf8; */
    /* Container variables */
    --container-max-width: 1200px;
    --container-padding: 20px;
    --clr-fm-green: rgba(13, 211, 40, 0.663);
    --clr-fm-yellow: rgba(228, 228, 18, 0.4);
    



    --clr-fm-red: rgba(180, 4, 4, 0.23);
    --clr-fm-blue: rgba(99, 129, 216, 0.382);
    --clr-fm-green-dk: rgb(17, 117, 30);
    --clr-fm-yellow-dk: rgb(156, 156, 13);
    --clr-fm-red-dk: rgb(180, 4, 4);
    --clr-fm-blue-dk: #455ce5;
    --clr-fd-green: #12400f;
    --clr-bg-green: #12400f;
    --clr-fd-yellow: #45480a;
    --clr-fd-yellow: #343709;
    --clr-bg-yellow: #82891d;


    --clr-fd-red: rgba(180, 4, 4, 0.23);
    --clr-fd-blue: #94c4f8;
    --clr-fd-green-dk: #47b447;
    --clr-fd-green-dk: #67dd67;




    --clr-fd-yellow-dk: #bebe44;
    --clr-fd-yellow-dk: #d8d853;



    --clr-fd-red-dk: #f72727;
    --clr-fd-blue-dk: #4696eb;

    /*Other Elements*/
    --clr-activity-icon: #9461fd;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.hiddenButton {
    display: none;
}

.hidden {
    display: none;
}

.strikeThrough {
    text-decoration: line-through;
}

.dark {
    color: var(--nav-dark);
    fill: var(--nav-dark);
}

.check-drop-option {
    padding-left: 26px;
}


.form-floating {}
/* Food Area */
.food-chip {
    text-decoration: none;
    color: var(--clr-disabled);
    border: solid 1px var(--clr-fd-blue-dk);
    transition: 0.3s;
    cursor: pointer;
    margin: 2px;
}

.foodChip,
.foodChipGreen,
.foodChipYellow,
.foodChipRed {
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid 1px var(--clr-fm-blue-dk);
    transition: 0.3s;
}

.foodChip:hover {
    background-color: var(--clr-fm-blue-dk);
    color: white;
    cursor: pointer;
}

.foodChipGreen {
    text-decoration: none;
    color: var(--clr-fm-green-dk);
    border-color: var(--clr-fm-green-dk);
    transition: 0.3s;
}

.foodChipGreen:hover {
    background-color: var(--clr-fm-green-dk);
    color: white;
    cursor: pointer;
}

.foodChipYellow {
    text-decoration: none;
    color: var(--clr-fm-yellow-dk);
    border-color: var(--clr-fm-yellow-dk);
    transition: 0.3s;
}

.foodChipYellow:hover {
    background-color: var(--clr-fm-yellow-dk);
    color: white;
    cursor: pointer;
}

.foodChipRed {
    text-decoration: none;
    color: var(--clr-fm-red-dk);
    border-color: var(--clr-fm-red-dk);
    transition: 0.3s;
}

.foodChipRed:hover {
    background-color: var(--clr-fm-red-dk);
    color: white;
    cursor: pointer;
}

.selectedFoodChip {
    background-color: green;
    color: white;
}

.chip-badge,
.chip-badge-large {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    z-index: 1;
}

.chip-badge {
    height: 14px;
    width: 14px;
    align-items: center;
    justify-content: center;
}

.chip-badge-large {
    min-height: 36px;
    max-height: 36px;
    min-width: 36px;
    max-width: 36px;
}

.chip-badge-label,
.chip-badge-label-large {
/*    align-items: center;
    justify-content: center;*/
color: black;
}

.chip-badge-label {
    font-size: .8em;
}

.chip-badge-label-large {
    font-size: 1.5em;
}

#cancelButton {
 /*   color: red;
    fill: purple;
    background-color: red;*/
}

/* FODMAP */
.fodSelectContainer,
.fodCard {
    width: 275px;
}

.fodFlag {
    position: absolute;
    translate: 175px;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fodBlue {
    background: var(--clr-fm-blue);
}

.fodGreen {
    background: var(--clr-fm-green);
}

.fodYellow {
    background: var(--clr-fm-yellow);
}

.fodRed {
    background: var(--clr-fm-red);
}

.fodSafeContainer {
}

.fodCheckUnknown {
}

.fodSafeCheckContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.fodCheckUnknown,
.fodSafeCheck {
    /* font-size: larger; */
    color: rgb(92, 92, 92);
    fill: rgb(92, 92, 92);
}

.fodAliasLabel {
    font-size: 0.95em;
    color: rgb(92, 92, 92);
}

.fodAlias {
    font-style: italic;
    font-size: 0.8em;
    color: rgb(92, 92, 92);
}

.fodColorCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.activeReactant,
.inactiveReactant {
    display: flex;
    align-items: center;
}

.activeReactant {
    color: red; /* needed for text */
    fill: red; /* needed for svg */
}

.notPresent,
.inactiveReactant {
    color: rgb(159, 159, 174);
    fill: rgb(159, 159, 174);
}

.fodElements {
}

.fodMaxIntakeContainer {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.fodMaxIntake {
    font-size: 3em;
    margin-bottom: -10px;
    height: 90px;
}


/* Product Area */
.product-card {
    width: 400px;
}

.product-ingredient-divider {
    font-weight: bold;
}


.food-chipT1,
.food-chipT2,
.food-chipT3,
.food-chipT4 {
    text-decoration: none;
    color: green;
    background-color: green;
    background-color: white;
    border: solid 1px green;
    transition: 0.3s;
}


.foodChipTOne,
.foodChipTTwo,
.foodChipTThree,
.foodChipTFour {
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid 1px var(--clr-fm-blue-dk);
    transition: 0.3s;
}

.foodChipTOne:hover,
.foodChipTThree:hover,
.foodChipTFour:hover {
    background-color: var(--clr-fm-blue-dk);
    color: white;
    cursor: pointer;
}

.foodChipGreenSolid,
.foodChipYellowSolid,
.foodChipRedSolid,
.foodChipBlueSolid {
    text-decoration: none;
    user-select: none;
}

.foodChipGreenSolid {
    background-color: var(--clr-fd-green-dk);
}

.foodChipYellowSolid {
    background-color: var(--clr-fd-yellow-dk);
}


.foodChipRedSolid {
    background-color: var(--clr-fd-red-dk);
}

.foodChipBlueSolid {
    color: var(--clr-fm-blue-dk);
    border-color: var(--clr-fm-blue-dk);
    background-color: var(--clr-fm-blue-dk);
}

/*Default Hidden*/
.chip-dot {
    visibility: hidden;
}

.tags-input {
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.alias-item-new {
    background-color: var(--nav-dark);
}

.alias-delete {
    background-color: black;
}

.tags-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.tags-input input[type="text"]:focus {
    outline: none;
}

.tags-input .alias-delete {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}


/* Calendar */

#calendarContainer {
    /*width: 100%;*/
    background-color: red;

}

.calendar-component {
    /*max-width: 100%;*/
    /*min-width: 0px;*/
    /*overflow: auto;*/
}

.bi-arrow-left-square,
.bi-arrow-right-square,
.bi-arrow-left-square-fill,
.bi-arrow-right-square-fill {
    height: 33px;
    fill: var(--clr-primary-dark);
    fill: white;
}

.calendar-nav-icon {
    width: 30px;
    padding: 0px;
    margin: 0px;
}
.calendar-nav {
    width: 10px;
    height: 10px;
    all: unset;
}
.day-header-card,
.day-header-card-short {
    text-align: center;
    font-size: 1.25rem;
}

.day-header-card .card-body, 
.day-header-card-short .card-body {
    padding-top: 6px;
    padding-bottom: 0px;
    margin: 0px;
}

.calendar-week {
    /*max-width: 30px;*/
}

.btn-primary-dark {
    background-color: var(--clr-primary-dark);
}

.btn-primary-dark:hover {
    /*background-color: #2e4760 !important;*/
    background-color: var(--clr-primary-dark-hover);
}

.btn-primary-dark:visited {
    background-color: rgba(180, 4, 4, 0.23) !important;
}

.date-nav-row-two { 
    width: 95%;
}
.calendar-nav-icon,
.calendar-nav-icon-disabled {
    width: 100px;
    height: 50px;
    fill: #9cbae1;
    fill: var(--clr-primary-dark);
}

.calendar-nav-icon:hover {
    fill: var(--clr-primary-dark-hover);
}

.calendar-nav-icon-disabled {
    fill: #393b3d;
}

.day-card,
.day-header-card,
.day-header-card-short {
    /*max-height: 220px;*/
    width: 13%;
}

.active-calendar-day {
    /*border-color: mediumpurple !important;*/
    /*box-shadow: 0 0 0 5px #ccc;*/
    /*box-shadow: 0 0 0 3px mediumpurple;*/
    box-shadow: 0 0 0 1px #99e5c276;
}

.calendar-reaction-container {
    min-height: 32px;
    max-height: 32px;
    padding-top: 6px;
    height: fit-content;
}

.calendar-meal-container {
    min-height: 120px;
    padding-top: 4px;
    padding-bottom: 24px;
}

#reactionDropdownSelect {
    cursor: default;
}

#mealGroup {
    max-height: 340px;
    overflow: auto;
}
.add-template-new {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    
}

.day-card-footer {
    max-height: 42px;
    min-height: 42px;
}

.calendar-day-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--clr-fm-blue-dk);
    background-color: var(--clr-fm-blue);
    color: white;
}

.calendar-badge-container {
    fill: red;
    color: red;
    border-color: red;
}

.calendar-badge-icon {
    color: var(--bg-med);
    color: aqua;
}

.calendar-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-right: 3px;
}

.calendar-item,
.calendar-item-green,
.calendar-item-yellow,
.calendar-item-red,
.calendar-item-blue {
    color: white;
    color: black;
    font-size: .75em;
    margin: 2px;
    padding-left: 6px;
    border-radius: 4px;
}

.calendar-item-green {
    color: var(--clr-fd-green-dk);
    border: solid 1px var(--clr-fd-green-dk);
    background-color: var(--clr-fd-green);
}

.calendar-item-yellow {
    color: var(--clr-fd-yellow-dk);
    border: solid 1px var(--clr-fd-yellow-dk);
    background-color: var(--clr-fd-yellow);
}

.calendar-item-red {
    color: var(--clr-fd-red-dk);
    border: solid 1px var(--clr-fd-red-dk);
    background-color: var(--clr-fd-red);
}

.calendar-item-blue {
    color: var(--clr-fd-blue-dk);
    border: solid 1px var(--clr-fd-blue-dk);
    background-color: var(--clr-fd-blue);
}

#templateDropdown {
    max-height: 250px;
    
    overflow-y: scroll;
}

#reactionDropdown {
    max-height: 250px;
    width: 250px;
    overflow-y: scroll;
}

.icon-weightlifting {
}

.input-group-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-right {a
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Day Reaction */

.calendar-modal {
    height: 500px;
}

#activityGroup {
   
}

.activity-icons {
    fill: var(--clr-activity-icon);
    color: var(--clr-activity-icon);
}

#activityUpdateContainer {
    max-height: 340px;
}

.green {
    color: var(--clr-fd-green-dk);
}

.bg-green {
    /*#99e5c2*/
    background-color: var(--clr-bg-green);
}

.yellow {
    color: var(--clr-fd-yellow-dk);
}

.bg-yellow {
    background-color: var(--clr-bg-yellow);
}

.red {
    color: var(--clr-fd-red-dk);
}

.bg-red {
    background-color: var(--clr-fd-red-dk);
}

.gray {
    color: var(--blugray);
}

.bg-gray {
    background-color: var(--blugray);
}

.btn-primary-dark {
    background-color: var(--clr-primary-dark);
}

.btn-primary-dark:hover {
    background-color: var(--clr-primary-dark-hover);
}

.btn-primary-dark:visited {
    background-color: rgba(180, 4, 4, 0.23) !important;
}


/* Active Day Highlighting */

.active-calendar-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    --neon: #9461fd;
    --neon-glow: #4003e6;
    z-index: -1;
    border: 5px solid var(--neon);
    box-shadow: 0 0 50px var(--neon-glow), inset 0 0 50px var(--neon-glow);
}

@supports (background: color(display-p3 1 1 1)) {
    @media (dynamic-range: high) {
        .active-calendar-backdrop {
            --neon-glow: color(display-p3 0 0 1);
        }
    }
}


/* Media */



/*@media (width <= 1300px) {*/
    /*@media (width >= 1200) {
        .day-header-card {
            text-align: center;
            font-size: 1rem;
        }

        .calendar-component {
            font-size: .9rem;
        }
    }*/




/*X-Small*/
@media (width <576px) {
    #sideBar {
        display: none;
    }

    .day-header-card {
        display: none;
    }
    .day-header-card-short {
        text-align: center;
        font-size: 1rem;

    }
    .calendar-component {
        font-size: .9rem;
    }

}

/*Small*/

@media (width >= 576px) {
    #sideBar {
        display: none;
    }

    .day-header-card {
        display: none;
    }

    .day-header-card-short {
        text-align: center;
        font-size: 1rem;
    }

    .calendar-component {
        font-size: .9rem;
    }
/*    #sideBar {
        display: none;
    }

    .day-header-card {
        display: none;
    }

    .day-header-card-short {
        text-align: center;
        font-size: 1rem;
    }

    .calendar-component {
        font-size: .9rem;
    }



    #sideBar {
        display: none;
    }

    .container {
        margin: 0;
    }
    #calendarContainer {
        background-color: purple;
        width: max-content;
        margin-left: 0px;
    }
    .day-header-card {
        display: none;
    }

    .day-header-card-short {
        text-align: center;
        font-size: 1rem;
    }

    .calendar-component {
        font-size: .9rem;
    }*/
}


/* Phone */

/*@media (width >= 745px) and (width <= 755px) {*/
    @media (width >= 745px) {

        #sideBar {
            display: none;
        }

        .day-header-card {
            display: none;
        }

        .day-header-card-short {
            text-align: center;
            font-size: 1rem;
        }

        .calendar-component {
            font-size: .9rem;
        }



        #sideBar {
            display: none;
        }

        .container {
            margin: 0;
        }

        #calendarContainer {
            background-color: purple;
            width: max-content;
            margin-left: 0px;
            /*justify-content: center;*/
            align-items: center;
        }

        .day-header-card {
            display: none;
        }

        .day-header-card-short {
            text-align: center;
            font-size: 1rem;
        }

        .calendar-component {
            font-size: .9rem;
        }
    }



    /*Medium*/
    @media (width >= 768px) {
        .container {
            margin: auto;
            margin: 0;
        }
        #calendarContainer {
            width: 100%;
            width: 95vw;
            /*width: 100vw;*/
            background-color: green;
        }
/*        .day-header-card {
            text-align: center;
            font-size: 1rem;
        }

*/
        .calendar-component {
            width: 100%;
        }
    }



    /*Large*/
    @media (width >= 992px) {

        .container {
            /*margin: auto;*/
            /*margin: 0;*/
        }

        #calendarContainer {
            align-items: center;
            background-color: blue;
        }
        .calendar-component {
            display: flex;
            flex-direction: column;
            font-size: .9rem;

        }

        .day-header-card {
            display: flex;
            text-align: center;
            font-size: 1rem;
        }

        .day-header-card-short {
            display: none;
        }
    }

    /*Extra large*/
    @media (width >= 1200px) {
        .container {
            margin: auto;
           
            /*margin: 0;*/
        }
        #calendarContainer {
            /*background-color: gold;*/
            width: 100%;
        }
        .day-header-card {
            text-align: center;
            font-size: 1rem;
        }

        .calendar-component {
            font-size: .9rem;
        }
    }

    /*Extra extra large*/
    @media (width >= 1400px) {
        .day-header-card {
            text-align: center;
            font-size: 1rem;
        }

        .calendar-component {
            font-size: .9rem;
        }

        #sideBar {
            display: block;
        }
    }
